<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Tab 1
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="medium" class="destaque">Angular technology</ion-title>
        </ion-toolbar>
    </ion-header>
    <div class="card">
        <div class="card-header">
            <h4 align = "center">Calculadora By dev Marco Antonio</h4>
            <textarea  id="display" disabled rows="1"></textarea>
         </div>
    </div>
    <ion-grid>      
            
                <div class="col-sm number">
                    <button id="quatro">4</button>
                    <button id="cinco">5</button>
                    <button id="seis">6</button>
                    <button id="menos"class="col-sm operator">-</button>
                </div>     
           
                <div class="col-sm number">
                    <button id="um">1</button>
                    <button id="dois">2</button>
                    <button id="tres">3</button>
                    <button id="vezes" class="col-sm operator">*</button>
                </div>
           
                <div class="col-sm number">
                    <button class="col-sm operator">,</button>
                    <button id="zero">0</button>
                    <button id="limpatela" class="col-sm operator">C</button>
                    <button id="divide" class="col-sm operator">/</button>
                </div>
                <div class="col-sm number"> 
                <button id="igual" class="col-sm operator">=</button>
                </div>      
       
    </ion-grid>

</ion-content>